.every{
    width: 90%;
    margin: 30px auto 0px auto;
    
}
.every_day_img{
    width: 30%;
    height: 300px;
    float: left;
}
.every_day{
    height: 300px;
    background: #fff;
    /* width: 80%; */
    text-align: left;
    border-radius: 5px;
    border-radius: 0.5rem;
    box-shadow: 3px 4px 3px #888;
    box-shadow: 0.3rem 0.4rem 0.3rem #888;
    padding: 10px 15px;
    padding: 1rem 1.5rem;
}
.every_day:before{
    content: '';
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent pink;
    width: 0px;
    height: 0px;
    position: absolute;
    display: block;
    top: 13px;
    left: 90px;
}
.every_day span{
    font-size: 20px;
    font-size: 2.0rem;
    color: rgb(250, 47, 82);
}
.article_list{
    width: 100%;
    border-radius: 5px;
    /*margin-top: 15px;*/
}
.article{
    background: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #888;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}
.article_img{
    width: 200px;
    height: 150px;
    float: left;
}
.article_right{
    height: 150px;
}
.article_title{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #13102b;
    padding: 20px 10px 5px 10px;
    text-align: left;
}
.article_title:hover{
    color: pink;
}
.article_content{
    font-size: 14px;
    color: #13102b;
    padding: 0px 10px 20px 10px;
    text-align: left;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    /*position: relative;*/
    /*line-height: 20px;*/
    /*height: 100px;*/
    /* 不换行 */
    /*white-space:nowrap;*/
    /* 溢出部分隐藏 */
    /*overflow:hidden;*/
    /* ... */
    /*text-overflow:ellipsis;*/
}
/*.article_content::after{*/
    /*content:"...";*/
    /*font-weight:bold;*/
    /*position:absolute;*/
    /*bottom:0;*/
    /*right:0;*/
    /*padding-left:20px;*/
    /*background: -webkit-linear-gradient(left, transparent, #fff 62%);*/
    /*background: -o-linear-gradient(right, transparent, #fff 62%);*/
    /*background: -moz-linear-gradient(right, transparent, #fff 62%);*/
    /*background: linear-gradient(to right, transparent, #fff 62%);*/
/*}*/
.article_foot{
    position: relative;
    height: 24px;
    color: #eee;
    background: linear-gradient(to left,rgba(244, 157, 45, 0.678) , rgba(250, 47, 82, 0.678));
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
}
.article_foot_p1{
    position: absolute;
    left: 0px;
}
.article_foot_p2{
    position: absolute;
    right: 45px;

}

/* 导航轮播图 */
.carousel{
    display: inline-block;
    padding-top: 84px;
    padding-top: 8.4rem;
    width: 100%;
    height: 535px;
    height: 53.5rem;
    position: relative;
}
/* @media (max-width:1536px){
    .carousel{
        height: 720px;
    }
} */
.carousel img{
    position: absolute;
    top: 0;
    left: 0;
}
.carousel .carousel-bj1{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.carousel .carousel-bj2{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.carousel .carousel-hr{
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 5px;
    height: 0.5rem;
    background: #e57c09;
    z-index: 2;
}