<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./js/axios.js"></script>
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .back{
            position: fixed;
            top: 100px;
            left: 40px;
            /*color: #fff;*/
            font-size: 16px;
        }
        .back a{
            color: #999;
        }
        .topa{
            position: fixed;
            bottom: 20px;
            right: 10px;
        }
        .topa .img{
            width: 70px !important;
            height: 70px !important;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <a class="topa" href="#top"><img class="img" style="width: 100px;height: 50px;z-index: 1;" src="img/more-img.png"/></a>
    <div class="back"><a href="index.html">返回首页</a></div>
    <div class="titles">
        <div class="ly_title title active_title">宠物领养</div>
        <div class="jy_title title">宠物寄养</div>
        <div class="xz_title title">宠物寻主</div>
        <div class="xc_title title">宠物寻宠</div>
    </div>
    <div class="lists" id="top">
        <div class="ly list active" id="ly">
            <div class="ly_contents">
                <div class="ly_content" v-for="(ly_lists,index) in ly_list" :key="index">
                    <div>{{ly_lists.title}}</div>
                    <!--<div>{{ly_lists.content}}</div>-->
                    <div>{{ly_lists.tags}}</div>
                    <div>{{new Date(ly_lists.ctime).toLocaleDateString().split('/').join('-')}}</div>
                    <div @click="del(ly_lists.id, index)"  class="sc_content">删除</div>
                </div>
            </div>
        </div>
        <div class="jy list" id="jy">
            <div class="jy_content" v-for="(jy_lists,index) in jy_list" :key="index">
                <div>{{jy_lists.title}}</div>
                <!--<div>{{ly_lists.content}}</div>-->
                <div>{{jy_lists.tags}}</div>
                <div>{{new Date(jy_lists.ctime).toLocaleDateString().split('/').join('-')}}</div>
                <div @click="del(jy_lists.id, index)"  class="sc_content">删除</div>
            </div>
        </div>
        <div class="xz list" id="xz">
            <div class="xz_content" v-for="(xz_lists,index) in xz_list" :key="index">
                <div>{{xz_lists.title}}</div>
                <!--<div>{{ly_lists.content}}</div>-->
                <div>{{xz_lists.tags}}</div>
                <div>{{new Date(xz_lists.ctime).toLocaleDateString().split('/').join('-')}}</div>
                <div @click="del(xz_lists.id, index)"  class="sc_content">删除</div>
            </div>
        </div>
        <div class="xc list" id="xc">
            <div class="xc_content" v-for="(xc_lists,index) in xc_list" :key="index">
                <div>{{xc_lists.title}}</div>
                <!--<div>{{ly_lists.content}}</div>-->
                <div>{{xc_lists.tags}}</div>
                <div>{{new Date(xc_lists.ctime).toLocaleDateString().split('/').join('-')}}</div>
                <div @click="del(xc_lists.id, index)"  class="sc_content">删除</div>
            </div>
        </div>
    </div>

</div>
    <script src="./js/jquery-2.0.3.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./js/all.js"></script>
</body>
</html>